<!--
	Author: W3layouts
	Author URL: http://w3layouts.com
	License: Creative Commons Attribution 3.0 Unported
	License URL: http://creativecommons.org/licenses/by/3.0/
-->

<!DOCTYPE html>
<html>
	<head>
		<title>JobSpace</title>
		<!-- For-Mobile-Apps -->
			<meta name="viewport" content="width=device-width, initial-scale=1">
			<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
			<meta name="keywords" content="Business Park a Responsive Web Template, Bootstrap Web Templates, Flat Web Templates, Android Compatible Web Template, Smartphone Compatible Web Template, Free Webdesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola Web Design" />
			<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
		<!-- //For-Mobile-Apps -->
		
		<!-- Custom-Stylesheet-Links -->	
			<link  rel="stylesheet" href="css/bootstrap.css" type="text/css" media="all" />
			<link rel="stylesheet"	href="css/style.css" type="text/css" media="all" />        	
			<link rel="stylesheet" href="css/swipebox.css">
			<link href="css/font-awesome.min.css" rel="stylesheet" type="text/css" media="all" />
		<!-- //Custom-Stylesheet-Links -->
		
		
		<!-- Web-Fonts -->
			<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
			<link href='//fonts.googleapis.com/css?family=Raleway:400,100,100italic,200,200italic,300,400italic,300italic,900italic,900,800italic,800,700italic,700,600italic,600,500italic,500' rel='stylesheet' type='text/css'>
		<!-- //Web-Fonts -->
			<script src="js/jquery.min.js"> </script>
			<script src="js/bootstrap.js"></script>
		
	</head>
	<body>
		<!-- Header -->
		<div class="header">
			<!-- Top-Bar -->
			<div class="top-bar">
				<div class="container">
					<div class="logo">
						<a href="#"><h2>JobSpace</h2></a>
					</div>
					<div class="header-right">
						<div class="phone">
							<ul>
								<li><span class="glyphicon glyphicon-earphone phone" aria-hidden="true"></span></li>
								<li>+9263555557</li>
							</ul>
						</div>
						<div class="social-icons-top">
							<ul>
								<li><a class="linkedin" href="#"></a></li>
								<li><a class="google" href="#"></a></li>
								<li><a class="twitter" href="#"></a></li>
								<li><a class="facebook" href="#"></a></li>
								
							</ul>
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
			<!-- //Top-Bar -->

			<!-- Navbar -->
			<div class="total-navbar">
				<div class="container">
				<nav class="navbar navbar-default">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>

					<div id="navbar" class="navbar-collapse navbar-right collapse hover-effect">

						<ul class="nav navbar-nav">
							<li class="active"><a href="#home" class="scroll">HOME</a></li>
							<li><a href="#about" class="scroll">ABOUT</a></li>
							<li><a href="#services" class="scroll">SERVICES</a></li>
							<li><a href="#team" class="scroll">TEAM</a></li>
							<li><a href="#contact" class="scroll">CONTACT</a></li>
							<li><a href="#login" class="scroll">LOGIN</a></li>
						</ul>
						
					</div>
						</nav>
						</div>
						</div>
			<!-- //Navbar -->
		</div>
		<!-- //Header -->
		
		<!-- Banner -->
		<div class="banner">
			<h1>Find Your</h1>
			<h3>POTENTIAL EMPLOYEE</h3>
			<h4></h4>
		</div>
		<!-- //Banner -->

		<!-- About -->
		<div class="about" id="about">
			<div class="container">
				<h3>ABOUT US</h3>
				<div class="about-grids">
				<div class="about-grid1">
					<div class="col-md-8 col-sm-8 about-text">
						<h4>October 15, 2016</h4>
						<h4>OUR HUMBLE BEGINNINGS</h4>
						<p>In this Day, after hours of brain storming. We come up an Idea of having a customized video-based services design specifically for Online video interview </p>
					</div>
					<div class="col-md-4 col-sm-4 aimg aboutimage">
						<img src="images/a1.png" alt=" " />
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="about-grid2">
					<div class="col-md-4 col-sm-4 aimg aboutimage">
						<img src="images/a2.png" alt=" " />
					</div>
					<div class="col-md-8 col-sm-8 about-text about-text2">
						<h4>October 30, 2016</h4>
						<h4>Submitted as STARTUP idea</h4>
						<p>In this Day, We officially submit it as an STARTUP idea</p>
					</div>
					<div class="clearfix"></div>
				</div>
				</div>
			</div>
		</div>
		<!-- //About -->

		<!--Services -->
		<div class="services" id="services">
		<div class="container">
			<h3>SERVICES WE PROVIDE</h3>
			<h6> As a STARTUP company, this is the services we can give right now </h6>
			<div class="service-grids">
				<div class="col-md-2 col-sm-2 service-grid service-grid1">
				</div>
				<div class="col-md-4 col-sm-4 service-grid service-grid2">
					<div class="service-grids-icon">
						<i class="fa fa-pencil-square-o" aria-hidden="true"></i>
					</div>
					<div class="service-grids-text">
						<h4>One-Way Interview</h4>
						<p>With automated or on-demand interviews recruiters simply invite candidates to answer a
                            pre-recorded question set. Now all candidates get to answer exactly the same questions,
                            allowing you to easily compare, rate and share their answers once completed. You remain
                            in the drivers’ seat and determine content, answering time and recording options.</p>
					</div>
				</div>
				<div class="col-md-4 col-sm-4 service-grid service-grid3">
					<div class="service-grids-icon">
						<i class="fa fa-users" aria-hidden="true"></i>
					</div>
					<div class="service-grids-text">
						<h4>Live Interview</h4>
						<p>Simply set up your interview as a live interview and keep the benefits of being able to
                            record, rate and share. Features include panel interviews, cue notes and setting up
                            interviews for hiring managers. Invite reviewers to help you evaluate the interview or just
                            share a specific section of the interview using our integrated editing tools.</p>
					</div>
				</div>
				<div class="col-md-2 col-sm-2 service-grid service-grid4">
				</div>
				<div class="clearfix"></div>
			</div>
			</div>
		</div>
		<!-- //Services -->
		
		<!-- Team -->
		<div class="team" id="team">
			<div class="container">
				<div class="theader">
					<h3>OUR AMAZING TEAM</h3>

			   </div>
                <div class="col-md-2 col-sm-2">
                </div>
				<div class="col-md-4 col-sm-4 team-grid team-grid1">
					<img src="images/t1.png" alt=" " /> 
					<h5>Neiell Care L. Paradiang</h5>
					<p>Web Developer</p>
					<ul>
					    <li><a class="twitter" href="#"></a></li>
						<li><a class="facebook" href="#"></a></li>
						<li><a class="pinterest" href="#"></a></li>
					</ul>
				</div>
				<div class="col-md-4 col-sm-4 team-grid team-grid2">
				 <img src="images/t2.png" alt=" " />
					<h5>Dexter Esin</h5>
					<p>Web Developer</p>
					<ul>
					    <li><a class="twitter" href="#"></a></li>
						<li><a class="facebook" href="#"></a></li>
						<li><a class="pinterest" href="#"></a></li>
					</ul>
				</div>
                <div class="col-md-2 col-sm-2">
                </div>
				<div class="clearfix"></div>
			</div>
		</div>
		<!-- //Team -->
		
	<!--Contact-->
		<div class="contact" id="contact">
			<div class="container">
				<div class="col-md-4 col-sm-4 contact-grids contact-grid1">
					<h4>Address</h4>
					<h6>Tibanga, Iligan City, Lanao del Norte, Philippines 9200.</h6>
					<h6>+926 3555 557</h6>
					<h6><a href="mailto:info@example.com">jobspace@gmail.com</a></h6>
				</div>
				<div class="col-md-2 col-sm-2 contact-grids contact-grid2">
					<h4>Navigation</h4>
					<h6><a href="#about" class="scroll">About</a></h6>
					<h6><a href="#team" class="scroll">Team</a></h6>
				</div>
				<div class="col-md-3 col-sm-3 contact-grids contact-grid3">
					<h4>Follow us</h4>
					<ul>
						<li><a class="linkedin" href="#"></a></li>
						<li><a class="google" href="#"></a></li>
						<li><a class="pinterest" href="#"></a></li>
					</ul>
				</div>
				<div class="col-md-3 col-sm-3 contact-grids contact-grid4">
					<h4>Newsletter</h4>
					<form action="#" method="post">
						<input type="text" name="your email" placeholder="your email">
						<input type="submit" value="SUBMIT">
					</form>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
		<!-- //Contact-->
		
		<!--Footer-->
			<div class="footer">
				<div class="container">
						<p> &copy; 2016 JobSpace. All Rights Reserved | Design by <a href="http://w3layouts.com">W3layouts</a></p>
				</div>
			</div>
		<!--//Footer-->
	
		<!-- here stars scrolling icon -->
	<script type="text/javascript">
		$(document).ready(function() {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
				};
			*/
								
			$().UItoTop({ easingType: 'easeOutQuart' });
								
			});
	</script>
		<!-- Smooth-Scrolling-JavaScript -->
		<script type="text/javascript" src="js/move-top.js"></script>
		<script type="text/javascript" src="js/easing.js"></script>
		<script type="text/javascript">
				jQuery(document).ready(function($) {
					$(".scroll, .navbar li a, .footer li a").click(function(event){
						$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
					});
				});
		</script>
		<!-- //Smooth-Scrolling-JavaScript -->

<!-- //here ends scrolling icon -->
	</body>
</html>